#addProduct, #editProduct {
  margin-right: 5%;
}

#addProduct:hover, #editProduct:hover, #deleteProduct:hover {
  color: #2196F3;
  cursor: pointer;
}
#addProduct, #editProduct, #deleteProduct {
  border-style: none;
  background-color: white;
}
