#editProduct {
  margin-right: 5%;
}

#editProduct, #deleteProduct {
  border-style: none;
  background-color: Transparent;
}

#editProductDescription {
  height: 25vh;
  resize: none;
  margin-top: 10px;
}

#editProductSave {
  width: 150px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  margin-right: 2rem;
}

#editProductCancel {
  width: 150px;
  border-radius: 3px;
  letter-spacing: 1.5px;
}
