#editProduct {
  margin-right: 5%;
}

#editProduct:hover, #deleteProduct:hover {
  color: #2196F3;
  cursor: pointer;
}

#addProductDescription {
  height: 25vh;
  resize: none;
  margin-top: 10px;
}

#addProductSave {
  width: 150px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  margin-right: 2rem;
}

#addProductCancel {
  width: 150px;
  border-radius: 3px;
  letter-spacing: 1.5px;
}

#addProductImage {
  margin-bottom: 1rem;
}